#todo-container {
    width: 75%;
    margin: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    background: var(--card-bg);
    flex-direction: column;
    height: 20rem;
    justify-content: center;
    border: 6px solid var(--orangeZanahori);
    border-radius: 20px;
    box-shadow: 1px 1px 1px var(--RedDark);
}
#todo-completed {
    width: 75%;
    margin: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    background: var(--card-bg);
    flex-direction: column;
    height: 20rem;
    justify-content: center;
    border: 6px solid  var(--GreenLigth);
    color: var(--GreenLigth);
    border-radius: 20px;
    box-shadow: 1px 1px 1px var(--RedDark);
    opacity: 0.8;
}

.container-card_footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.todo-p {
    font-family: 'Circular-Loom';
    font-size: 1rem;
    margin: 0;
    color: var(--orangeZanahori);
    width: 50%;
    border-bottom: 1px solid var(--orangeZanahori);
    border-radius: 2pc;
    box-shadow: 2px 2px 4px var(--orangeZanahori);
    text-align: center;
    background: var(--lt-color-gray-100);

}
#text-area{
    width: 300px;
    height: 150px;
    border: 1px solid var(--orangeZanahori);

}
#title-heading{
    font-family: monospace;
    font-size: 1.5rem;
    margin: 10px;
}

.completed-p {

    text-decoration: line-through;
    text-decoration-color: var(--RedDark);
    

}

.todo-edit {
    font-size: 25px;
    color: var(--lt-color-gray-100);
    margin: 0 10px;
    cursor: pointer;
    transform: scale(1.2);
    transition: 1.5s;
}

.todo-delete {

    font-size: 25px;
    color: var(--RedDark);
    cursor: pointer;
    transform: scale(1.2);
    transition: 1.5s;
}

.todo-completed:hover,
.todo-edit:hover,
.todo-delete:hover {
    transition: 1.5s;
    transform: scale(1.5);
}