.footer-container{
    gap: 11px;
    font-size: 1rem;
    font-family: 'Circular-Loom';
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    margin-right: 30px;
}
.footer-container p{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    color: var(--lt-color-gray-100);
}
.footer-container p span {
    color: var(--orangeZanahori);
}